---
layout: default
---

<div class="list__posts-header">
  {% for post in site.posts limit:1 %}
    <!-- this is for future if featured is not always first one -->
    <img src="/images/posts/{{post.file_name}}/{{ post.hero_image }}">
    {{ post.title }}
  {% endfor %}
</div>

<div class="list__posts">
  <div class="wrapper">
    <h1 class="page-heading">Posts</h1>

    <ul class="posts">
      {% for post in paginator.posts offset:1 %}
        <li class="posts__item">
          <div class="grid--full">
            <div class="grid__item desk--two-fifths post__header-image">
              <a href="{{ post.url | prepend: site.baseurl }}">
                <img src="/images/posts/{{post.file_name}}/{{ post.hero_image }}">
              </a>
            </div>
            <div class="grid__item desk--three-fifths post__content">
              <div class="post__title">
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </div>
              <div class="post__meta">
                <span class="post__author">by {{ post.author }} &bull; </span>
                <span class="post__category">{{ post.categories }} &bull; </span>
                <span class="post__date">{{ post.date | date: "%b %-d, %Y" }}</span>
              </div>
              <div class="post__excerpt">
                {{ post.excerpt }}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
