<footer class="footer">

  <div class="wrapper">
    <div class="footer__description">
      {{ site.description }}
    </div>
    <div class="footer__social">
      <ul>
        <!-- <li><a href="http://www.facebook.com/WaysWeWork" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li> -->
        <!-- <li><a href="https://twitter.com/wayswework" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li> -->
        <li><a href="https://www.instagram.com/teamsomename/" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
        <li><a href="/feed" class="rss" target="_blank"><i class="fa fa-rss"></i></a></li>
      </ul>
    </div>
  </div>

</footer>
