<header id="site-header">
  <div class="wrapper">
    <div class="logo">
      <img src="/images/logo.png">
    </div>
    <nav class="site-nav">
      <div class="site-nav__wrapper">
        <div class="logo--small">
          <img src="/images/logo.png">
        </div>
        <div class="trigger">
          <a class="page-link" href="mailto:teamsomename@gmail.com">Home</a>
          <a class="page-link" href="mailto:teamsomename@gmail.com">Food</a>
          <a class="page-link" href="mailto:teamsomename@gmail.com">Photography</a>
          <a class="page-link" href="mailto:teamsomename@gmail.com">About</a>
          <a class="page-link" href="mailto:teamsomename@gmail.com">Contact</a>
        </div>
      </div>
    </nav>
  </div>
</header>
