.footer {
  background-color: #e8e8e8;

  .wrapper {
    max-width: 750px;
    padding: 40px;
  }

  &__description {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    line-height: 1.8;
    max-width: 650px;
    margin: 0 auto 30px auto;
    color: #69737D;
  }

  &__links {
    max-width: 400px;
    margin: 0 auto;
    overflow: auto;
  }

  &__category {
    width: 115px;
    margin: 0 auto;
    color: #35363a;

    h3 {
      font-weight: 700;
    }
  }

  &__social {
    margin-top: 10px;

    ul {
      margin: 0;

      li {
        display: inline-block;
        padding: 0 8px;
        text-align: center;

        &:first-of-type {
          padding: 0;
        }

        a {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: #1e1e1e;
          color: #fff;
          display: block;
          font-size: 22px;
          line-height: 38px;
        }
      }
    }
  }
}
