.post-nav {
  padding: 45px 20px 0 20px;
  background-color: #e8e8e8;

  .wrapper {
    width: 100%;
    max-width: 1200px;
  }

  .nav-block {
    min-height: 1px;

    &__title {
      font-size: 28px;
      color: #777;
      margin-bottom: 20px;
      font-weight: 300;
    }
  }
}

/**
 * Page content
 */
// .page-content {
//   padding: 0;
// }

// .page-heading {
//   font-size: 20px;
// }

// .post-list {
//   margin-left: 0;
//   list-style: none;

//   > li {
//     margin-bottom: $spacing-unit;
//   }
// }

// .post-meta {
//   font-size: $small-font-size;
//   color: $grey-color;
// }

// .post-link {
//   display: block;
//   font-size: 24px;
// }

/**
 * Posts
 */
.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  // @include media-query($on-laptop) {
  //   font-size: 36px;
  // }
}

.post {
  .wrapper {
    max-width: 750px;
  }
}

// .post-content {
//   margin-bottom: $spacing-unit;

//   h2 {
//     font-size: 32px;

//     @include media-query($on-laptop) {
//       font-size: 28px;
//     }
//   }

//   h3 {
//     font-size: 26px;

//     @include media-query($on-laptop) {
//       font-size: 22px;
//     }
//   }

//   h4 {
//     font-size: 20px;

//     @include media-query($on-laptop) {
//       font-size: 18px;
//     }
//   }
// }
