.list__posts {
  padding: 0 20px;
  margin-bottom: 150px;

  &-header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    max-height: 625px;
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
  }

  .wrapper {
    width: 100%;
    max-width: 850px;
  }

  .posts {

    &__item {
      padding: 20px 0;

      .post {

        &__header-image {
          &:hover {
            opacity: 0.8;
          }
        }

        &__content {
          padding-top: 20px;

          @include media-query($on-desk) {
            padding-top: 0;
            padding-left: 30px;
          }
        }

        &__title {
          font-size: 34px;
          line-height: 40px;
          margin-bottom: 5px;

          a {
            color: #35363a;
            font-weight: bold;
            text-decoration: none;

            &:hover {
              color: #7c8084;
            }
          }
        }

        &__meta {
          color: #69737D;
          font-weight: 300;
          margin-bottom: 20px;
        }

        &__category {
          text-transform: capitalize;
        }

        &__excerpt {
          color: #69737D;
          font-size: 17px;
          font-weight: 300;
          line-height: 1.5;
          letter-spacing: 0.5px;
        }
      }
    }

  }
}
